<div class= "notes-partial flexcol">

  <div class="appearance wrapper">
      <header>Additional Information</header>
      <div class="editor">
        {{editor system.moreNotes target="system.moreNotes" button=true owner=true editable=true}}
      </div>
  </div>

</div>